<app-header></app-header>

<div class="container">
    <div class="row">
        <div class="col">
            <mat-card class="card-wishlist" >
                <div class="row justify-content-center align-items-center">
                    <div class="col-4">
                        <img src="../../../assets/img/lhotse_padded_jacket_1.jpg" style="height: 300px; width: 100%;" />
                    </div>
                    <div class="col-3">
                        <h1 style="text-align: center;"><strong>Jacquemus</strong></h1>
                        <h3 style="text-align: center;">Moulin suit jacket</h3>
                        <h3 style="text-align: center;">R$1800</h3>
                    </div>
                    <div class="col-2">
                        <button mat-raised-button style="background-color: red; 
                        color: white;
                        text-align: center; border: none; width: 100%; height: 30px;">Remover</button>
                    </div>
                </div>
            </mat-card>

            <mat-card class="card-wishlist">
                <div class="row justify-content-center align-items-center">
                    <div class="col-4">
                        <img src="../../../assets/img/long_straight_cut_jeans_2.jpg" style="height: 300px; width: 100%;" />
                    </div>
                    <div class="col-3">
                        <h1 style="text-align: center;"><strong>Jacquemus</strong></h1>
                        <h3 style="text-align: center;">Moulin suit jacket</h3>
                        <h3 style="text-align: center;">R$1800</h3>
                    </div>
                    <div class="col-2">
                        <button mat-raised-button style="background-color: red; 
                        color: white;
                        text-align: center; border: none; width: 100%; height: 30px;">Remover</button>
                    </div>
                </div>
            </mat-card>


            <mat-card class="card-wishlist">
                <div class="row justify-content-center align-items-center">
                    <div class="col-4">
                        <img src="../../../assets/img/moulin_suit_jacket_1.jpg" style="height: 300px; width: 100%;" />
                    </div>
                    <div class="col-3">
                        <h1 style="text-align: center;"><strong>Jacquemus</strong></h1>
                        <h3 style="text-align: center;">Moulin suit jacket</h3>
                        <h3 style="text-align: center;">R$1800</h3>
                    </div>
                    <div class="col-2">
                        <button mat-raised-button style="background-color: red; 
                        color: white;
                        text-align: center; border: none; width: 100%; height: 30px;">Remover</button>
                    </div>
                </div>
            </mat-card>
        </div>
    </div>
</div>

<app-footer></app-footer>