<app-header></app-header>

<div class="container">
    <div class="row">
        <div class="col-4">
            <mat-card class="card-custom">
                <h1 style="text-align: center; color: white; background-color: orange;">Tipo</h1>
                <div style="padding: 20px;">
                    <mat-radio-group aria-label="Select an option">
                        <mat-radio-button value="1">Calças</mat-radio-button>
                        <br /> <br />
                        <mat-radio-button value="2">Camisa</mat-radio-button>
                        <br /> <br />
                        <mat-radio-button value="2">Casaco</mat-radio-button>
                        <br /> <br />
                        <mat-radio-button value="2">T-Shirt</mat-radio-button>
                        <br /> <br />
                        <mat-radio-button value="2">Sweatshirt</mat-radio-button>
                    </mat-radio-group>
                </div>
                <h1 style="text-align: center; color: white; background-color: orange; border-top: 3px solid black;">Cor
                </h1>
                <div style="padding: 20px;">
                    <mat-radio-group aria-label="Select an option">
                        <mat-radio-button value="1">Azul</mat-radio-button>
                        <br /> <br />
                        <mat-radio-button value="2">Cizento</mat-radio-button>
                        <br /> <br />
                        <mat-radio-button value="2">Laranja</mat-radio-button>
                        <br /> <br />
                        <mat-radio-button value="2">T-Shirt</mat-radio-button>
                        <br /> <br />
                        <mat-radio-button value="2">Preto</mat-radio-button>
                    </mat-radio-group>
                </div>
            </mat-card>
        </div>
        <div class="col-8">
            <div class="row justify-content-center">
                <div class="col">
                    <h1 style="text-align: center;">
                        <strong>
                            HOMEM
                        </strong>
                    </h1>
                </div>
                <div class="row justify-content-start">
                    <div class="col">
                        <p>
                            <strong>
                                Total de resultados: 14
                            </strong>
                        </p>
                    </div>
                </div>
                <div class="row justify-content-start" style="padding: 10px;">
                    <div class="col-4">
                        <mat-card class="card-product" [routerLink]="['/produto.html']">
                            <div class="row justify-content-end">
                                <div class="col-2">
                                    <mat-icon>
                                        star_rate
                                    </mat-icon>
                                </div>
                            </div>
                            <img mat-card-image src="../../../assets/img/intarsia_paisley_logo_windbreaker_1.jpg"
                                style="width: 100%; height: 300px;" />
                            <mat-card-content>
                                <h2 style="text-align: center;">JACQUEMUS</h2>
                                <h3 style="text-align: center;"> Moulin suilt jacket</h3>
                                <h3 style="text-align: center;"> R$1800</h3>
                            </mat-card-content>
                        </mat-card>
                    </div>

                    <div class="col-4">
                        <mat-card class="card-product" [routerLink]="['/produto']">
                            <div class="row justify-content-end">
                                <div class="col-2">
                                    <mat-icon>
                                        star_rate
                                    </mat-icon>
                                </div>
                            </div>
                            <img mat-card-image src="../../../assets/img/intarsia_paisley_logo_windbreaker_1.jpg"
                                style="width: 100%; height: 300px;" />
                            <mat-card-content>
                                <h2 style="text-align: center;">JACQUEMUS</h2>
                                <h3 style="text-align: center;"> Moulin suilt jacket</h3>
                                <h3 style="text-align: center;"> R$1800</h3>
                            </mat-card-content>
                        </mat-card>
                    </div>

                    <div class="col-4">
                        <mat-card class="card-product" [routerLink]="['/produto']">
                            <div class="row justify-content-end">
                                <div class="col-2">
                                    <mat-icon>
                                        star_rate
                                    </mat-icon>
                                </div>
                            </div>
                            <img mat-card-image src="../../../assets/img/intarsia_paisley_logo_windbreaker_1.jpg"
                                style="width: 100%; height: 300px;" />
                            <mat-card-content>
                                <h2 style="text-align: center;">JACQUEMUS</h2>
                                <h3 style="text-align: center;"> Moulin suilt jacket</h3>
                                <h3 style="text-align: center;"> R$1800</h3>
                            </mat-card-content>
                        </mat-card>
                    </div>

                    <div class="col-4">
                        <mat-card class="card-product" [routerLink]="['/produto']">
                            <div class="row justify-content-end">
                                <div class="col-2">
                                    <mat-icon>
                                        star_rate
                                    </mat-icon>
                                </div>
                            </div>
                            <img mat-card-image src="../../../assets/img/intarsia_paisley_logo_windbreaker_1.jpg"
                                style="width: 100%; height: 300px;" />
                            <mat-card-content>
                                <h2 style="text-align: center;">JACQUEMUS</h2>
                                <h3 style="text-align: center;"> Moulin suilt jacket</h3>
                                <h3 style="text-align: center;"> R$1800</h3>
                            </mat-card-content>
                        </mat-card>
                    </div>

                    <div class="col-4">
                        <mat-card class="card-product" [routerLink]="['/produto']">
                            <div class="row justify-content-end">
                                <div class="col-2">
                                    <mat-icon>
                                        star_rate
                                    </mat-icon>
                                </div>
                            </div>
                            <img mat-card-image src="../../../assets/img/intarsia_paisley_logo_windbreaker_1.jpg"
                                style="width: 100%; height: 300px;" />
                            <mat-card-content>
                                <h2 style="text-align: center;">JACQUEMUS</h2>
                                <h3 style="text-align: center;"> Moulin suilt jacket</h3>
                                <h3 style="text-align: center;"> R$1800</h3>
                            </mat-card-content>
                        </mat-card>
                    </div>

                    <div class="col-4">
                        <mat-card class="card-product" [routerLink]="['/produto']">
                            <div class="row justify-content-end">
                                <div class="col-2">
                                    <mat-icon>
                                        star_rate
                                    </mat-icon>
                                </div>
                            </div>
                            <img mat-card-image src="../../../assets/img/intarsia_paisley_logo_windbreaker_1.jpg"
                                style="width: 100%; height: 300px;" />
                            <mat-card-content>
                                <h2 style="text-align: center;">JACQUEMUS</h2>
                                <h3 style="text-align: center;"> Moulin suilt jacket</h3>
                                <h3 style="text-align: center;"> R$1800</h3>
                            </mat-card-content>
                        </mat-card>
                    </div>

                    <div class="col-4">
                        <mat-card class="card-product" [routerLink]="['/produto']">
                            <div class="row justify-content-end">
                                <div class="col-2">
                                    <mat-icon>
                                        star_rate
                                    </mat-icon>
                                </div>
                            </div>
                            <img mat-card-image src="../../../assets/img/intarsia_paisley_logo_windbreaker_1.jpg"
                                style="width: 100%; height: 300px;" />
                            <mat-card-content>
                                <h2 style="text-align: center;">JACQUEMUS</h2>
                                <h3 style="text-align: center;"> Moulin suilt jacket</h3>
                                <h3 style="text-align: center;"> R$1800</h3>
                            </mat-card-content>
                        </mat-card>
                    </div>
                    <div class="col-12" style="background-color: black;">
                        <div style="width: 100%; height: 50px;">
                            <h1 style="text-align: center; color: white; margin: 10px;">Ver mais</h1>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<app-footer></app-footer>