<app-header></app-header>

<div class="container">
    <div class="row justify-content-center">
        <div class="col-12">
            <h1 style="text-align: center;"><strong>Jacquemus</strong></h1>
            <h3 style="text-align: center;">Moulin suit jacket</h3>
        </div>
        <div class="col-3">
            <img src="../../../assets/img/intarsia_paisley_logo_windbreaker_1.jpg"
                style="width: 100%; height: 200px;" />
        </div>
        <div class="col-3">
            <img src="../../../assets/img/intarsia_paisley_logo_windbreaker_2.jpg"
                style="width: 100%; height: 200px;" />
        </div>
        <div class="col-12" style="padding-top: 10px;">
            <h3 style="text-align: center; margin-bottom: 0px !important;">Casaco Azul</h3>
            <h3 style="text-align: center;">R$1800</h3>
        </div>
        <div class="col-12">
            <p style="text-align: center;">
                Ut et convallis metus, a fermentum augue. Etiam imperdiet, ligula vel pellentesque imperdiet, libero
                nisl congue metus, et varius leo purus ut diam. Aliquam ipsum dui, ornare vel nisl et, euismod finibus
                ipsum. Praesent auctor ac turpis sed volutpat. Vivamus lorem metus, auctor ac ultricies sed, cursus vel
                dolor. Curabitur sapien est, finibus consequat risus id, fermentum convallis neque. Cras nec vehicula
                neque. In non nunc pellentesque, consequat sem sed, consectetur velit. Integer ultrices urna id ex
                venenatis, vel efficitur purus congue. Ut semper mattis nisi vitae dapibus. Proin consectetur nibh
                scelerisque lacus dignissim suscipit.
            </p>
        </div>
    </div>
</div>

<app-footer></app-footer>